<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id		  = "com.creazionsoftware.app"
	version	  = "2.6.0">

	<name>Aplicacion de Pruebas 1</name>
	<description>
		Una hermosa aplicacion de prueba en PhoneGap
	</description>
	<author href="http://creazionsoftware.com" email="carlosantoniomolanosolarte@gmail.com">
		Carlos Molano
	</author>
	<icon src="img/iconox64.png" width="64" height="64"/>
	<icon src="img/iconox48.png" width="48" height="48"/>
	<icon src="img/iconox32.png" width="32" height="32"/>
</widget>
